<div class="mt-2 row justify-content-center">
  <div class="col col-md-3">
    <h5>
      <%= t('.header') %>
    </h5>
    <%= render 'form' %>
    <%= link_to t('.back_to_badges'), admin_badges_path %>
  </div>
</div>