<hr class="ml-2 mr-2 mt-3 mb-1">
<div class="ml-2">
  <table>
    <tr>
      <td>
        <%= github_url('metacorn', 'test_guru') %>.
      </td>
    </tr>
    <tr>
      <td>
        This App is for creating and passing tests.
      </td>
    </tr>
    <tr>
      <td>
        Project at online school <%= link_to 'Thinknetica', 'http://thinknetica.com/'%>.
      </td>
    </tr>
    <tr>
      <td>
        Author: Oleg Sachev, <%= actual_year %>.
      </td>
    </tr>
  </table>
</div>
