<footer>
  <hr>
  Year: 2018<br>
  Author: Oleg Sachev<br>
  <a href="https://github.com/metaphorizer/test_guru" target="_blank">"Test Guru"</a><br>
  About project: web application for passing tests<br>
  <a href="http://thinknetica.com/" target="_blank">Учебный проект в онлайн-школе Thinknetica</a>
</footer>
