<footer>
  <hr>
  Year: 2018<br>
  Author: Oleg Sachev<br>
  Project: "Test Guru"<br>
  About: web application for passing tests<br>
  <a href="http://thinknetica.com/">Учебный проект в онлайн-школе Thinknetica</a>
</footer>
