<div class="mt-2 row justify-content-center">
  <div class="col col-md-3">
    <h5>
      New Answer
    </h5>
  <p class="mb-1">
    <%= @question.body %>
  </p>
  <%= render 'form' %>
  <%= link_to t('.back_to_answers'), admin_question_path(@question) %>
  </div>
</div>
