<h5>
  <%= question_header(@question) %>
</h5>
<%= form_with model: [:admin, @test, @question], local: true do |form| %>
  <p class="mb-2">
    <%= form.text_field :body, size: "32" %>
  </p>
  <p class="mb-2">
    <%= form.submit %>
  </p>
<% end %>
