.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.admin-dropdown-menu a{
    color: #210530 !important;
    width: 180px !important;
}

.user-dropdown-menu a{
    color: #210530 !important;
    width: 180px !important;
}

.button-fix-width {
    width: 180px !important;
}