<h3><%= @test.title%></h3>

<table>
<%= render @test.questions %>
</table>
<p>
  <%= link_to t('.new_question'), new_admin_test_question_path(@test) %>
</p>
<p>
  <%= link_to t('.back_to_tests'), admin_tests_path %>
</p>
