<tr>
  <td>
    <%= test.title %>
  </td>
  <td>
    <center><%= test.level %></center>
  </td>
  <td>
    <center><%= test.questions.count %></center>
  </td>
  <td>
    <center><%= button_to t('.start'), start_test_path(test), :method => :post %></center>
  </td>
</tr>
