<tr>
  <td class="pl-2 align-middle">
    <%= test.title %>
  </td>
  <td class="text-center align-middle">
    <%= test.level %>
  </td>
  <td class="text-center align-middle">
    <%= test.questions.count %>
  </td>
  <td class="text-center align-middle">
    <%= button_to t('.start'), start_test_path(test), :method => :post %>
  </td>
</tr>
