<h3>Tests:</h3>
<table>
  <tr>
    <td>
      <b>Title</b>
    </td>
    <td>
      <b>Level</b>
    </td>
    <td>
      <b>Questions</b>
    </td>
    <td>
      <center><b>Actions</b></center>
    </td>
    <%= render @tests %>
</table>
